/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  
}

#contenu-general{
  display: flex;
  justify-content: space-around;
  width: 1400px;
  margin:0 auto;
}

#contenu-general .phones{
  width: 500px;
}

#droite{
  width:50%;
  
  }

#login div{
  display: flex;
  align-items: center;
  width: 90px;
  height: 50px;
  justify-content: space-around;
  background-color: #1c5380;
  padding: 0px 10px;
  color: white;
  font-weight: bold;
  margin-left: auto;

}

#login .logo{
  width: 448px;
}

#login {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

h1{
  font-size: 40px;
  color: #06365f;
  margin: 0;
}

#text{
  box-shadow: 0px -3px 8px 1px rgba(163,163,163,1);
  border-radius: 5px;
  padding: 30px;
}

#text img{
  width: 200px;
}

#text p{
  font-size: 20px;
}

#text .apple{
  margin-right: 20px;
}

footer{
  width: 1000px;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;

}

footer p{
  color: #06365f;
  font-weight: bold;
}

footer p:last-child{
  color:gray;
}