/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/
* {
  box-sizing: border-box
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}

/*header {
  background-color: rgb(78, 115, 149);
  padding: 100px;
}*/

#masterLayout {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.text {
  border: 1px solid grey;
}

ul {
  display: flex;

}

ul li {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}